.form-wrapper .form-title {
	font-size:150%;
	font-weight:bold;
}
.form-container .form-title {
	font-size:175%;
}

.form-container fieldset {
	padding:0.0em 0.5em 0.2em 0.5em;background-color:#EFEFEF;border:1px solid silver;
}

.form-container dt.first{
/*	margin-top:0.4em; */
/*	margin-top:-0.3em; */
}

.form-container .form-button {
	width:7em;
}
.form-container .form-submit {
	font-weight:bold;
}

.form-container dd input[type="text"], .form-container dd input[type="password"], .form-container dd select {
	padding:5px;
	color:#333;
	width:50%;
}

form dl {clear:left;}
form dt {float:left; clear:left; width:20em; font-size:105%; margin-top:0.5em;}
form dt label {font-size:110%; text-align:left; width:100%; }
form dd {overflow:hidden; clear:both;margin-left:0.1em;}

form label.label-radio {font-size:110%; float:none; text-align:left; width:100%; }
form ul.ul-radio { list-style:none; margin-left:-0.2em; }

/* for Table forms */
.form-button-container {
	text-align:right;
}

.form-button-container input, .form-button-container button {
	font-size:105%;
	width:7em;
}

.form-button-container .form-submit {
	font-weight:bold;
}

.form-container dd.form_req input, .form-container dd.form_req select, .form-container dd.form_req textarea {
	border-width:0.2em;
	border-color:#FDFF99;
}
.form-container dt.form_req:after {
	content: ' *';
	color:#F40;
	font-size:110%;
}


