.form-wrapper .form-title {
	font-size:125%;
	font-weight:bold;
}

.form-container {
	padding:0.0em 0.5em 0.2em 0.5em;background-color:#EFEFEF;border:1px solid silver;
}

.form-container dt.first{
	margin-top:-0.3em;
}

.form-container .form-button {
	width:7em;
}
.form-container .form-submit {
	font-weight:bold;
}

.form-container dd input[type="text"], .form-container dd input[type="password"] {
	padding:5px;
	color:#333;
}

form dl {clear:left;}
form dt {float:left; clear:left; width:20em; font-size:105%; margin-top:0.5em;}
form dt label {font-size:110%}
form dd {overflow:hidden; clear:both;margin-left:0.1em;}


/* for Table forms */
.form-button-container {
	text-align:right;
}

.form-button-container input, .form-button-container button {
	font-size:105%;
	width:7em;
}

.form-button-container .form-submit {
	font-weight:bold;
}
