/* message boxes*/
.messagebox {
	margin:auto;
	text-align:center; 
	padding:3px 7px 3px 7px;
}

.messagebox TABLE TR TD{
	text-align:center; 
}

.messagebox UL {
       text-align:left;
}

.msg_warn {
	border:1px solid red;
	background-color:#FEE;
}

.msg_question {
	border:1px solid #090;
	background-color:#EFE;
}

.msg_alert {
	border:1px solid black;
	background-color:#FFB;
}

.msg_info {
	border:1px solid blue;
	background-color:#EEF;
}

TABLE.ie_drop_fix {
	margin-right:-100%;
}


/* social bookmarks */
.sociable {
	text-align:left;
}

.sociable ul {
display:inline;
margin:0pt !important;
padding:0pt !important;
}

.sociable ul li {
background:transparent none repeat scroll 0%;
display:inline;
list-style-type:none;
margin:0pt;
padding:1px;
}
