a:link { font-weight: bold; color: #036; text-decoration: underline; font-weight: bold; }
a:visited { text-decoration: underline; color: #036; font-weight: bold; }
a:hover { text-decoration: underline; }

body { 
	margin: 0px; 
	background-color: white; 
	color: #666;
	font-family: Verdana, Helvetica, Arial, Sans-serif; 
	height:100%;
}

H1,H2,H3,H4,H5
{
        margin:2px 0px 2px 0px;
        padding:0px 0px 0px 0px;
}

#topbar { 
	height: 44px; 
	padding-left:1em;
	padding-top:.5em;
	background-image: url(images/topbar.png); 
	color: white; 
	border-bottom:1px solid #F81;
}

div.toptitle { 
	font-family: Times New Roman, Serif; 
	letter-spacing: .3em;
	font-size: 22px; font-weight: bold; 
}
div.topstuff { float:right; padding: 7px 20px 0px 0px;}
.topstuff label { font-weight: bold; }

#contentmenu H3 { 
	border-top:1px solid #F81;
	border-left:1px solid #99D;
	border-right:1px solid #99D;
	border-bottom:1px solid #99D;
	background: white url('images/navbg.png') repeat-x top left; 
	color:#333;
	font-size:100%;
	font-weight:normal;
}

#navbar { 
	border-top:1px solid #669;
	background: white url('images/navbg.png') repeat-x top left; 
	border-bottom:1px solid #99D;
}

#navbar ul { 
	list-style: none; 
	padding-left: 1em; 
	margin:0px;
	font-size:10pt;
	padding-bottom:.3em;
	display:block;
}

#navbar li { 
	float:left;
	position:relative;
	border-left:1px solid #F70;
	padding-right:7px;
	padding-left:7px;
	padding-bottom:.3em;
	margin:0px;
	font-size:9pt;
	width:8em;
	text-align:center;
}

#navbar li.menu_last { 
	display: inline; 
	border-right:1px solid #F70;
	border-left:1px solid #F70;
	font-size:9pt;
}

#navbar li a { 
	padding-left:7px;
	padding-right:7px;
	font-size:9pt;
}


#menu_drop {
	font-size:9pt;
	background-color:#F4F4F4; 
	padding-left:7px;
	padding-right:7px;
	padding-top:3px;
	padding-bottom:3px; 
	margin-top:1.6em;
	margin-left:1.1em;
	border-top:1px solid #CCC; 
	border-bottom:1px solid #CCC; 
	border-right:1px solid #CCC; 
	border-left:1px solid #F70; 
	width:8em;
}

#navbar li:hover { 
	border: 2px 1px 2px 1px solid #F70;
	background-color:white;
}

#navbar li a:hover { 
	background-color:white;
	padding-left:7px;
	padding-right:7px;
	text-decoration: underline;
}


.herc_action_button {
	border: 1px solid silver;
	padding-left:4px;
	padding-right:4px;
	background-color:#EEE;
}

.herc_action_button:hover {
	border: 1px solid silver;
	padding-left:6px;
	padding-right:2px;
	background-color:white;
}

/*
#navbar li a { 
	background: url(images/nav_left.png) no-repeat left bottom; 
}
*/
/*    padding: 3px 20px; text-decoration: none; font-size: small; height: 1.7em; float: left; }*/

/*
#navbar li.current { background: url(images/nav_right_.png) no-repeat right bottom; background-color: #003161; }
#navbar li.current a.current { padding: 3px 20px; color: white; height: 2.2em;
    background: url(images/nav_left_.png) no-repeat left bottom; }
    */


/*
 * left nav
 */
.list_1 { margin-top:0em;margin-bottom:0em; margin-left: .5em; padding-left: .5em; padding-bottom: .5em;list-style:none; border-right: 1px solid #ccc; }
.list_1 li { height: 1.7em; font-size:10pt;}


#subnav { border-bottom: 1px solid #ccc; background-color: #eee;}
#subnav ul { margin: 0px; padding: 0px; list-style: none; }
#subnav li { float: left; font-size: x-small; height: 2em; border-right: 1px solid #ccc;}
#subnav li a { text-decoration: none; font-weight: bold; padding: 5px 20px; display: block;}

#subnav li:hover { background-color: #ccc; }
#subnav li a:hover { text-decoration: underline; }

#subnav li.current { background-color: #003060; }
#subnav li.current a.current { color: white; }
#subnav li.current:hover { background-color: #003060; }


#tcontent { margin: 1px 2px; border: 1px solid #999; padding-bottom:50px; }
/*
#tcontent div.n1 { border: 1px solid #ccc; }
#tcontent div.n2 { border: 1px solid #999; }
*/

#contentcontent { margin: 20px; }

#footer { 
	display:block;
	background-color: #eee; 
	border-top: 1px solid #ccc; margin-top: 80px;
	padding: 5px 20px; color: #999; 
	font-size: x-small; text-align: right; 
}
div.clearer { line-height: 0; clear: both; }
.heading1 { background-color:#036; color:white; font-weight:bold;}

/** 
 * FORM styles
 */
.cgn_form textarea:focus {
	background-color:#FFC;
}
.cgn_form input:focus {
	background-color:#FFC;
}
input.submitbutton {
	cursor:pointer;
	border:outset 1px #666;
	color:#223;
	font-weight:bold;
	padding: 1px 2px;
	background: #333 url(images/formbg.gif) repeat-x left top;
	width:7em;
}
input.submitbutton:active {
	border:inset 1px #ccc;
}

input.formbutton {
	cursor:pointer;
	border:outset 1px #ccc;
	color:#223;
	padding: 1px 2px;
	background: #333 url(images/formbg.gif) repeat-x left top;
}

input.formbutton:active {
	border:inset 1px #ccc;
}

.cgn_form .forminput {
	border:1px solid #223;

}
.cgn_form {
	color:#223;
}

/**
 * data grid 
 */
.grid_adm TR:hover { 
	background-color:#FCFCCC; 
}
.grid_adm_tr_h {
	background-color:#ECECEC;
	text-align:left;
	font-size:10pt;
}
.grid_adm_th_1 {
	border-bottom:1px solid black;
	padding:3px 5px;
	font-size:10pt;
	background: #FFF url('images/navbg.png') repeat-x top left; 
}
.grid_adm_tr_e {
	background-color:#F6F6FF;
}
.grid_adm_tr_o {
	background-color:#FFF;
}
.grid_adm_tr_1 {
	background-color:#FFF;
}
.grid_adm_td_1 {
	border-top:2px solid #EEEEEE;
}

/**
 * message boxes
 */
.messagebox {
	margin:auto;
	text-align:left; 
	padding:3px 7px 3px 7px;
}

.messagebox TABLE TR TD{
	text-align:left; 
}

.messagebox UL {
       text-align:left;
}

.msg_warn {
	border:1px solid red;
	background-color:#FEE;
}

.msg_question {
	border:1px solid #090;
	background-color:#EFE;
}

.msg_alert {
	border:1px solid black;
	background-color:#FFB;
}

.msg_info {
	border:1px solid blue;
	background-color:#EEF;
}

