.mvc_tree2 ul {
  width: 100px;
  list-style-type: none;
  border-top: solid 1px;
  margin: 0;
  padding: 0;
}

.mvc_tree2 ul ol {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.mvc_tree2 ul li, 
  .mvc_tree ul a {
  font-family: verdana, sans-serif;
  font-size: 11px;
}

.mvc_tree2 ul li {
  border-bottom: solid 1px;
  line-height: 15px;
}

.mvc_tree2 ul ol li {
  border-bottom: none;
}

.mvc_tree2 ul ol li:before {
  content: "- ";
}

.mvc_tree2 ul a {
  text-decoration: none;
  outline: none;
}

.mvc_tree2 ul a:hover {
  color: #539dbc;
}

.mvc_tree2 ul a.active {
  color: #be5028;
}





